<div class="jumbotron center">
	<h1>Skins-teresting</h1>
	<p>A place to celebrate the gridiron warriors in the Nation's capitol by posting awesome Redskins content</p>

	<p>
		<%= link_to "Log-In", "#", class: "btn btn-default btn-lg" %>
		<%= link_to "Sign Up", "#", class: "btn btn-default btn-lg" %>
	</p>
</div>