<div class="jumbotron">
	<h1>Hail to the Redskins!</h1>
	<p>A place to celebrate the gridiron warriors in the Nation's capitol</p>
	<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>.</p>
</div>